table {
  margin-top: 1rem;
  width:100%;
  border-spacing: 0;
  border-collapse: collapse;
  th {
    background: grey;
    color:white;
  }
  th, td {
    padding: 0.25rem 1rem;
    line-height: 1;
    white-space: nowrap;
    text-align: left;
  }
  tr:nth-child(odd) {
    background: lightgrey;
  }
}